[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
sqlalchemy = "==1.3.15"
asgiref = "==3.2.7"
backcall = "==0.1.0"
certifi = "==2018.11.29"
chardet = "==3.0.4"
click = "==7.1.1"
decorator = "==4.4.2"
entrypoints = "==0.3"
idna = "==2.8"
itsdangerous = "==1.1.0"
jedi = "==0.16.0"
jinja2 = "==2.11.3"
markupsafe = "==1.1.1"
mccabe = "==0.6.1"
parso = "==0.6.2"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
prompt-toolkit = "==3.0.5"
psycopg2-binary = "==2.8.5"
ptyprocess = "==0.6.0"
pycodestyle = "==2.5.0"
pyflakes = "==2.1.1"
pygments = "==2.6.1"
pytelegrambotapi = "==3.6.6"
python-dateutil = "==2.8.1"
pytz = "==2019.3"
pyzmq = "==19.0.0"
requests = "==2.21.0"
six = "==1.12.0"
sqlparse = "==0.3.1"
tinydb = "==3.15.2"
tornado = "==6.0.4"
traitlets = "==4.3.3"
urllib3 = "==1.24.2"
wcwidth = "==0.1.9"
apscheduler = "==3.6.3"
coinpayments-py = "==0.1.0"
django = "==3.0.7"
flask-wtf = "==0.14.3"
infinity = "==1.4"
intervals = "==0.8.1"
sqlalchemy-utils = "==0.36.5"
tzlocal = "==2.1"
validators = "==0.14.3"
wtforms = "==2.3.1"
wtforms-alchemy = "==0.16.9"
jupyter-client = "==6.1.2"
jupyter-core = "==4.6.3"
python-dotenv = "==0.13.0"
Flask = "==1.1.1"
Werkzeug = "==1.0.0"
WTForms-Components = "==0.10.4"
rq = "*"
redis = "*"

[requires]
python_version = "3.8"
